*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto',sans-serif;
}
.cabezera{
    background-color: #097927;
}
.cabezera a{
    text-decoration: none;
}
.create{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo{
    margin-top: 50px;
}
.texto p{
    width: 300px;
    height: 100px;
    text-align: center;
}

.boton{
    margin-top: 50px;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.5em;
}