*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Fuzzy Bubbles', cursive;
}
h1{
    font-size: 3.5em;
    color: white;
}
.cabezera{
    background-color: #6b8383;
}
.cabezera a{
    text-decoration: none;
}
.create{
    display: flex;
    justify-content: center;
}
.formulario{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
.leer{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    margin-left: 10px;
}
